@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
  background-color: var(---main);
  margin: 0;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  position: relative;
}

.container {
  width: 100%;
}

.mx-auto {
  margin-left: 15%;
  margin-right: 15%;
}